<ion-slide-box id="landing" auto-play="true" > 

<ion-slide>
    <div>
        <img id="img-slide" src="img/landing-slide-1.jpg" class="img-responsive">
        <!-- <img src="img/share-flat.png"  width=35px; height=35px;> -->
      </div>
</ion-slide>

<ion-slide>
    <div>
      <img id="img-slide" src="img/landing-slide-2_new.png" class="img-responsive">
    </div>
</ion-slide>

<ion-slide>
    <div>
        <img id="img-slide" src="img/landing-slide-3.jpg" class="img-responsive">
      </div>
</ion-slide>

<ion-slide>
    <div>
        <img id="img-slide" src="img/landing-slide-4.jpg" class="img-responsive">
      </div>
</ion-slide>

<ion-slide>
    <div>
        <img id="img-slide" src="img/landing-slide-5.jpg" class="img-responsive">
      </div>
</ion-slide>

<ion-slide>
    <div>
        <img id="img-slide" src="img/landing-slide-6.jpg" class="img-responsive">
      </div>
</ion-slide>

</ion-slide-box>

<style>

.slider,
#img-slide {
  height: 18rem;
}
.slider-slide {
  color: #000;
  background-color: rgb(232, 235, 232);
  text-align: center;  
}



#img-slide{
    width: 100%;
}

.icon, .ionicons, .ion-funnel:before {
    font-size: 10px!important;
}
</style>