<!--
<ion-view>

<ion-nav-title>
  <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-title>


  <ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>

<ion-content ng-controller="CCaboutusCtrl" class="animated zoomIn backgroundimage">
  <h3 class="heading">About Us</h3>

 &lt;!&ndash; <div class="card list">
    <div class="item item-text-wrap">
      <p>
        National Informatics Centre (NIC) Chhattisgarh, Department Of Electronics And Information Technology, Government of India
        <br><br>
        National Informatics Centre is committed to meet and exceed customer requirements by providing Quality and Reliable
        ICT services and global solutions. For this, We shall continually improve our Processes through
      </p>
    </div>
  </div>

&ndash;&gt;

  <div class="card">
    <div class="item item-divider">
      A line chart
    </div>
    <div class="item item-text-wrap">
      <canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: true}"></canvas>
    </div>
  </div>
  <div class="card">
    <div class="item item-divider">
      A bar chart
    </div>
    <div class="item item-text-wrap">
      <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
    </div>
  </div>

  <div class="card">
    <div class="item item-divider">
      A bar chart
    </div>
  <div class="item item-text-wrap graph-display">
    <canvas id="bar1" class="chart chart-bar" series="ocw.series" legend="true" data="ocw.data" labels="ocw.labels" colours="ocw.colours"></canvas>
  </div>
  </div>


  </ion-content>

  <ion-footer-bar class="bar bar-dark">
    <marquee direction="left"  behavior=scroll scrollamount="5">
      <span ng-repeat="item in allItems">
         NEWS:-{{item.news}}
      </span>
    </marquee>
  </ion-footer-bar>

</ion-view>
-->


<ion-view>

<ion-nav-title>
  <div class="bar bar-header headercolor">
 	 <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-title>


  <ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>

<ion-content ng-controller="CCaboutusCtrl" class="animated zoomIn backgroundimage">
  <h3 class="heading">About Us</h3>

 <div class="card list">
    <div class="item item-text-wrap">
      <p>
        National Informatics Centre (NIC) Chhattisgarh, Department Of Electronics And Information Technology, Government of India
        <br><br>
        National Informatics Centre is committed to meet and exceed customer requirements by providing Quality and Reliable
        ICT services and global solutions. For this, We shall continually improve our Processes through
      </p>
    </div>
  </div>

  </ion-content>



</ion-view>
