<ion-view >
	<!-- title="{{'ECHATTISGARH' | translate}}"
  <ion-nav-back-button></ion-nav-back-button> -->

  <ion-nav-bar class="bar-dark" align-title="center">
	<ion-nav-back-button class="button-clear">
	  <button class="icon ion-chevron-left" ng-click="myGoBack()" ng-controller="TodoCtrl"  style="background: transparent;border: none;"></button>
	  <img style="right: 46%;
	  position: absolute;
	  margin-top: 1px;" src="./img/doon1-3d-test_13-10-2021.png" width=38px; height=35px;>
	</ion-nav-back-button>
  </ion-nav-bar>
<ion-content ng-controller="ForgotPasswordCtrl" class="HomeBackground">

<form name="mobileform">
<div class="list" ng-show="show==1">
<!--<h3 class="heading">Forgot Password</h3>-->
  <div class="headingDiv">
    <h3 style="height:32px;padding: 5px 0px 0px 10px;" class="heading" translate="FORGOTPASS">
		<!-- <img src="./img/quick-services-32x32.png" width="32" height="32" translate="FORGOTPASS"> -->
	</h3>
  </div>
	<label class="item item-input item-floating-label">
		<span class="input-label required" translate="MOBILENO"></span>
		<input type="tel" maxlength="10" placeholder="{{ 'MOBILENO' | translate}}*" name="forgotmobileNo" ng-model="forgotmobileNo"
		ng-trim="false" ng-pattern="/^[0-9]{10,10}$/" required/>
		<span class="errorMessage" ng-show="mobileform.forgotmobileNo.$error.pattern" translate="VALIDMOBILE"></span>
	</label>
	<div class="padding">
		<button  ng-click="forgotmobilesubmit1()" class="button button-block  customBgColor">
		<span translate="SUBMIT"></span></button>
	</div>
</div>
</form>

<form name="forgototpform">
<div class="list" ng-show="show==2">
  <div class="headingDiv">
    <h3 style="height:32px;padding: 5px 0px 0px 10px;" class="heading" translate="OTPVERIFICATION"></h3>
  </div>
	<label class="item item-input item-floating-label">
		<span class="input-label required" translate="ENTOTP"></span>
		<input type="tel" id="otpforgotpass" maxlength="6" placeholder="{{ 'ENTOTP' | translate}}*" name="forgototp" ng-model="forgototp"
		ng-trim="false" ng-pattern="/^[0-9]{6,6}$/"  numbers-only limit="6" ng-model-options="{ allowInvalid: true}" required/>
		<span class="errorMessage" ng-show="v.forgototp.$error.pattern" translate="VALIDOTP"></span>
	</label>
	<div class="padding">
		<button  ng-click="forgototpsubmit()" class="button button-block  customBgColor">
		<span translate="SUBMIT"></span></button>
	</div>

	<ul class="center">
		<li><a class="resendOTP-btn" ng-click="resendOTP()"><b translate="RESENDOTP"></b></a></li>
	</ul>
</div>
</form>

<form name="forgotpasswordpage">
<div class="list" ng-show="show==3">
 <!-- <h3 class="heading">Password</h3>-->
  <div class="headingDiv">
    <h3 style="height:32px;padding: 5px 0px 0px 10px;" class="heading" translate=""><img src="./img/quick-services-32x32.png" width="32" height="32">Password</h3>
  </div>
	<label class="item item-input item-floating-label">
		<span class="input-label required" translate="PASSWORD"></span>
		<input type="{{inputType}}" id="txtPassword" placeholder="{{ 'PASSWORD' | translate}}*"  name="forgotpassword" ng-model="forgotpassword" ng-trim="false"
		ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/" required/>
		<!--<span class="errorMessage" ng-show="forgotpasswordpage.forgotpassword.$error.pattern" translate="VALIDPASS"></span>-->
	</label>
	<div class="password-hide-show">
		<i class="icon ion-eye eye-icon" ng-if="inputType=='password'" ng-click="hideShowPassword()"></i>
		<i class="icon ion-eye-disabled eye-icon" ng-if="inputType=='text'" ng-click="hideShowPassword()"></i>
	</div>
	<div class="pswd_info">
		<div id="password-strength-status1"></div>
		<div id="passwordCriterion1" class="passwordCriterion">
			<ul>
				<li data-criterion="length" translate="PASSWORD_length"></li>
				<li data-criterion="capital" translate="PASSWORD_capital"></li>
				<li data-criterion="small" translate="PASSWORD_small"></li>
				<li data-criterion="number" translate="PASSWORD_number"></li>
				<li data-criterion="special" translate="PASSWORD_special"></li>
			</ul>
		</div>
	</div>
	<label class="item item-input item-floating-label">
		<span class="input-label required" translate="CNFPASSWORD"></span>
		<input type="{{inputType}}" id="txtConfirmPassword" placeholder="{{ 'CNFPASSWORD' | translate}}*" name="forgotconpass" ng-model="forgotconpass"
		ng-trim="false" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/" required/>
		<span class="errorMessage" ng-show="forgotpasswordpage.forgotconpass.$error.pattern" translate="VALIDCONFIRMPASS"></span>
	</label>
	<div class="password-hide-show">
		<i class="icon ion-eye eye-icon" ng-if="inputType=='password'" ng-click="hideShowPassword()"></i>
		<i class="icon ion-eye-disabled eye-icon" ng-if="inputType=='text'" ng-click="hideShowPassword()"></i>
	</div>
	<div class=" padding">
		<button ng-disabled="!forgotpasswordpage.$valid" ng-click="forgotpasswordsubmit()"
		class="button button-block  customBgColor">
		<span translate="SUBMIT"></span></button>
	</div>
</div>
</form>
</ion-content>

</ion-view>


