<ion-view>
  <!-- title="{{'ECHATTISGARH' | translate}}"
  <ion-nav-back-button></ion-nav-back-button> -->
  <ion-nav-bar class="bar-dark" align-title="center">
		<ion-nav-back-button class="button-clear">
		  <button class="icon ion-chevron-left" ng-click="myGoBack()" ng-controller="TodoCtrl"  style="background: transparent;border: none;"></button>
		  <img style="right: 46%;
		  position: absolute;
		  margin-top: 1px;" src="./img/doon1-3d-test_13-10-2021.png" width=38px; height=35px;>
		</ion-nav-back-button>
	  </ion-nav-bar>
  <ion-content ng-controller="TrafficListPageCtrl" class="HomeBackground">

      <div>
        <div class="headingDiv" ng-if="!donationService">
          <h3 style="height:32px;padding: 5px 0px 0px 10px;" class="heading"
              translate="TRAFFIC_DET"></h3>
        </div>
        <div class="row margin-0">
          <div class="table-outer">
            <table class="complaintTable fontClass" ng-if="mysearch.length<1 || !mysearch" style="margin-bottom: 1rem;">
              <tr class="table-heading">
                <td translate="SRNO">Sr.No.</td>
                <td translate="JUNCTION">Junction</td>
                <td translate="CONGESTION">Congestion</td>
                <td translate="STATUS">Status</td>
              </tr>
              <tr ng-repeat="rowData in getDashBoardDataPage">
                <td>{{calculateIndex($index)}}</td>
                <td>{{rowData.shortDescription}}</td>
                <td>{{rowData.colour}}</td>
                <td ng-if="rowData.colour == 0" style="color:#0fc22d;" translate="LOWTRAFFIC">Low</td>
                <td ng-if="rowData.colour > 0 && rowData.colour <= 99" style="color:#FFBF00;" translate="MEDIUMTRAFFIC">Medium</td>
                <td ng-if="rowData.colour >= 100" style="color:#ff0000;" translate="HIGHTRAFFIC">High</td>
              </tr>
            </table>
            <div class="fontClass">
              <span style="color:#0fc22d;" class="statusClass" translate="LOWTRAFFICRANGE">Low(0)</span>
              <span style="color:#FFBF00;" class="statusClass" translate="MEDIUMTRAFFICRANGE">Medium(0 to 99)</span>
              <span style="color:#ff0000;" class="statusClass" translate="HIGHTRAFFICRANGE">High(100 >)</span>
            </div>
            <div class="pagination" ng-if="mysearch.length<1 || !mysearch">
              <span class="page-num {{$index==currentPagination?'activepage':''}}"
                ng-repeat="i in currentPaginationArray" ng-if="$index<11"
                ng-click="getDashBoardDataPageDataTrafficSignal({{$index}},'fix')">{{$index+1}}</span>
              <select ng-if="currentPaginationArray.length>11" ng-model="$parent.pagginationSelect"
                ng-change="getDashBoardDataPageDataTrafficSignal(pagginationSelect,'select')">
                <option value="{{$index}}" ng-repeat="i in currentPaginationArray" ng-if="$index>=11">{{$index+1}}
                </option>
              </select>
            </div>

          </div>
        </div>
      </div>

  </ion-content>
</ion-view>
