<ion-view >
  
  <ion-nav-bar class="bar-dark" align-title="center">
    <ion-nav-back-button class="button-clear">
      <button class="icon ion-chevron-left" ng-click="myGoBack()" ng-controller="TodoCtrl"  style="background: transparent;border: none;"></button>
      <img style="right: 46%; position: absolute; margin-top: 1px;" src="./img/doon1-3d-test_13-10-2021.png" width=38px; height=35px;>
    </ion-nav-back-button>
  </ion-nav-bar>
  
  <ion-content ng-controller="upclViewBillCtrl" class="animated zoomIn">

    <form name="upclForm" ng-show="!showList">
      <div class="list">
      
        <div class="headingDiv">
          <h3 style="height:32px;padding: 5px 0px 0px 10px;" class="heading" translate="UPCLVIEWBILL"></h3>
        </div>
  
        <label class="item item-input item-floating-label">
          <span class="input-label required" translate="ACCNO"></span>
          <input type="tel" placeholder="{{ 'ACCNO' | translate}}*" name="accNo" ng-model="accNo" required/>
          <span class="errorMessage" ng-show="complaintMobileForm.complaintMobileNo.$error.pattern" translate="VALIDMOBILE"></span>
        </label>
  
        <div class="padding">
          <button ng-click="searchBill()" class="button button-block customBgColor">     
            <span translate="SEARCHBILL"></span>
          </button>
        </div>
  
      </div>
    </form>

    <form name="upclFormDetails" ng-show="showList">
      <div class="list">

        <div class="headingDiv">
          <h3 style="height:32px;padding: 5px 0px 0px 10px;" class="heading" translate="UPCLVIEWBILL"></h3>
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label required" translate="ACCNO"></span>
          <input type="tel" placeholder="{{ 'ACCNO' | translate}}*" name="accNo" ng-model="accNo" required disabled/>
          <span class="errorMessage" ng-show="complaintMobileForm.complaintMobileNo.$error.pattern" translate="VALIDMOBILE"></span>
        </label>

        <!-- <input type="search" id="upclSearch" class="mysearch" name="upclSearch" ng-model="upclSearch" alpha-numeric-only limit="20" ng-trim="false" ng-model-options="{ allowInvalid: true}" style="font-family: 'Poppins-Regular';" placeholder="{{'SEARCH' | translate}}" /> -->
  
        <div class="row margin-0">

          <div class="table-outer">

            <table class="complaintTable fontRegular" style="border: 2px solid black; margin-left: 10px; width: 95% !important;margin-bottom: 15px;">
              <tr>
                <td colspan="2" class="table-heading thClass" translate="UPCLBILLDATA" style="text-align: center; font-weight: bolder; letter-spacing: 3px; border: 2px solid black;"></td>
              </tr>
              <tr>
                <th class="table-heading thClass" translate="SERVICENO"></th>
                <td>{{ serviceNumber }}</td>
              </tr>
              <tr>
                <th class="table-heading thClass" translate="ACCNO"></th>
                <td>{{ accNumber }}</td>
              </tr>
              <tr>
                <th class="table-heading thClass" translate="CUSTNAME"></th>
                <td>{{ custName }}</td>
              </tr>
              <tr>
                <th class="table-heading thClass" translate="CATCODE"></th>
                <td>{{ catCode }}</td>
              </tr>
              <tr>
                <th class="table-heading thClass" translate="BILLDATE"></th>
                <td>{{ billDate }}</td>
              </tr>
              <tr>
                <th class="table-heading thClass" translate="BILLDUEDATE"></th>
                <td>{{ billDueDate }}</td>
              </tr>
              <tr>
                <th class="table-heading thClass" translate="CURRBILLAMOUNT"></th>
                <td>{{ currentBillAmount }}</td>
              </tr>
              <tr>
                <th class="table-heading thClass" translate="DUEAMOUNT"></th>
                <td>{{ downloadBill }}</td>
              </tr>
              <tr>
                <th class="table-heading thClass" translate="DOWNLOADBILL"></th>
                <td>
                  <img src="./img/pdf.png" class="camerImage" ng-click="downloadPDFFn()" style="height: 45px !important; width: 45px !important;"/>
                  <p style="font-size: 10px; margin-top: 10px; text-align: center;">{{fileName}}</p>
                </td>
              </tr>
            </table>

            <div class="padding" ng-show="showPayBtn">
              <button ng-click="payBill()" class="button button-block customBgColor">     
              <span translate="PAY"></span></button>
            </div>

            <div class="padding" ng-show="!showPayBtn">
              <button class="button button-block customBgColor" disabled>     
              <span translate="PAYBILL"></span></button>
            </div>

          </div>
         </div>
  
      </div>
    </form>

  </ion-content>

</ion-view>

<style>
  .tdClass{
    vertical-align: middle;
    text-align: center;
  }

  .thClass{
    padding: 0% 1% 0% 2%;
    border: 1px solid white;
    vertical-align: middle;
  }
</style>