<ion-view class="titlecss" >
    <!-- <ion-nav-title>
  <div class="bar bar-header headercolor">
     <h1 class="title">MaiNet</h1>
 </div>
</ion-nav-title>
<ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
</ion-nav-buttons>-->
<ion-nav-bar class="bar-dark" align-title="center">
    <ion-nav-back-button class="button-clear">
      <button class="icon ion-chevron-left" ng-click="goBack()" ng-controller="ComplaintstatusDetailctrl" style="background: transparent;border: none;"></button>
      <img style="right: 46%; position: absolute; margin-top: 1px;" src="./img/doon1-3d-test_13-10-2021.png" width=38px; height=35px;>
    </ion-nav-back-button>
</ion-nav-bar>
    <ion-content ng-controller="ComplaintstatusDetailctrl" class="HomeBackground">
        <!-- <h3 class="heading" translate="COMPLSTATUS"></h3>-->
       
        <form name="tableform" class="animated zoomIn">
			<div class="headingDiv" >
				<h3 style="height:32px;padding: 5px 0px 0px 10px;" class="heading" translate="EXTCOMPLDET"><img
						src="../www/img/quick-services-32x32.png" width="32" height="32"></h3>
			</div>
            <table class="gridtable fontRegular">
                <tr ng-if="tokenNo">
                    <th>{{'COMPLAINTNO'|translate}}</th>
                    <td><p style="display: inline-flex;margin: 0px;" selectable-text>{{ tokenNo }}</p></td>  
                    <!-- style="background-color: #617a8f;color: #ffffff;padding:4px" -->
                </tr>
                <tr ng-if="date">
                    <th>{{'COMPLAINTDATE'|translate}}</th>
                    <td>{{ date }}</td>
                </tr>
                <tr ng-if="complainantName">
                    <th>{{'COMPLIMENTNAME'|translate}}</th>
                    <td>{{ complainantName }}</td>
                </tr>
                <tr ng-if="status">
                    <th>{{'STATUS'|translate}}</th>
                    <td>{{ status  | translate}}</td>
                </tr>
                <tr ng-if="complaintType">
                    <th>{{'DEPARTMENTNAME'| translate}}</th>
                    <td>{{ complaintType }}</td>
                </tr>
                <tr ng-if="complaintSubType">
                    <th>{{'COMPLTYPE'|translate}} </th>
                    <td>{{ complaintSubType }}</td>
                </tr>
                <tr ng-if="ward">
                    <th>{{'LOCATIONCOMP'|translate}}</th>
                    <td>{{ ward }} </td>
                </tr>
                <tr ng-if="description">
                    <th>{{'DESCRIPTION'|translate}}</th>
                    <td>{{ description }}</td>
                </tr>
               <!--  <tr ng-if="actionRemark">
                    <th>{{'REMARKS'|translate}}</th>
                    <td>{{ actionRemark }}</td>
                </tr> -->
            </table>

            <div class="headingDiv">
                <h3 style="height:32px;padding: 5px 0px 0px 10px;" class="heading" translate="ACTIONHISTORY"></h3>
            </div>

            <table class="gridtable gridStyle" style="border-top: 2px solid #004c8f;" ng-repeat="subject in actionhistory" >
                <tr>
                    <th width="50px" translate="SRNO"></th>
                    <td>{{ $index+1 }}</td>
                </tr>
                <tr ng-if="subject.datetime">
                    <th width="50px" translate="DATEANDTIME"></th>
                    <td>{{ subject.datetime }}</td>
                </tr>
                <tr ng-if="subject.taskName">
                    <th width="50px" translate="ACTION"></th>
                    <td>{{ subject.taskName | translate}}</td>
                </tr>
                <tr ng-if="subject.action">
                    <th width="50px" translate="ACTION"></th>
                    <td>{{ subject.action | translate}}</td>
                </tr>
                <tr ng-if="subject.empName">
                    <th width="50%" translate="EMPNAME"></th>
                    <td>{{ subject.empName }}</td>
                </tr>
                <tr ng-if="subject.designation">
                    <th width="50%" translate="DESIGNATION"></th>
                    <td>{{ subject.designation }}</td>
                </tr>
                <tr ng-if="subject.remarks">
                    <th width="50%" translate="REMARKS"></th>
                    <td>{{ subject.remarks }}</td>
                </tr>
                <tr ng-if="subject.actionAttachements.length>0">
                    <th>{{'ATTACHMENTS'|translate}}</th>
                    <td><button ng-click="openDeptDoc(showDeptDoc, $index)" class="button button-block customBgColor buttondesign" ng-model="showDeptDoc" style="width: 200px !important;" >{{'CLICKTOVIEW'|translate}}</button></td>
                </tr>
                <tr ng-if="showDeptDoc && $index==indexValue" >
                    <td colspan="2">
                        <div style="margin: 16px;" ng-repeat="obj in subject.actionAttachements track by $index">
                            <div class="col-xs-4" ng-click="zoomPicStatus(obj.attachmentId, obj.documentType, obj.docDes,obj.documentName,obj.documentByteCode)">
                                <!-- <img ng-src="{{ 'data:image/jpeg;base64,'+ obj.documentByteCode }}" data-ng-model="cameraDeptImg" class="camerImage" /> -->
                                <img ng-if="obj.documentType=='png' || obj.documentType=='jpeg' || obj.documentType=='jpg'" ng-src="{{ 'data:image/jpeg;base64,'+ obj.documentByteCode }}" class="camerImage"/><!-- ng-if="obj.docType=='png' || obj.docType=='jpeg' || obj.docType=='jpg'" -->
                                <img ng-if="obj.documentType=='pdf'" src="./img/pdf.png" class="camerImage"/>
                                <img ng-if="obj.documentType=='doc' || obj.documentType=='docx'" src="./img/docx.png" class="camerImage"/>
                                <p style="font-size: 12px; margin-top: 2px; text-align: center;">{{obj.documentName}}</p>
                            </div>
                        </div>
                        <div ng-show="zoomedInStatus" class="zoom-container">
                            <span class="closeBtn" ng-click="zoomPicCloseStatus()">&times;</span>
                            <img ng-src="{{ 'data:image/jpeg;base64,'+ imageZoomedStatus }}" class="zoomed-image"/>
                        </div>
                    </td>
                </tr>
            </table>

<!-- Defect #180433  -->
            <!-- <div ng-if="esctable">
                <!--<h3 class="heading" translate="COMPLESCDETS" ></h3>--
                <div class="headingDiv" ng-show="showEscHeader">
                    <h3 style="height:32px;padding: 5px 0px 0px 10px;" class="heading" translate="COMPLESCDETS"><img
                            src="../www/img/quick-services-32x32.png" width="32" height="32"></h3>
                </div>
                <table class="gridtable fontRegular" ng-repeat="subject in escalDetailsList">
                    <tr ng-if="subject.datetime">
                        <th width="50%">{{'DATEANDTIME'|translate}}</th>
                        <td>{{ subject.datetime }}</td>
                    </tr>
                    <tr ng-if="subject.action">
                        <th width="50%">{{'ACTION'|translate}}</th>
                        <td>{{ subject.action }}</td>
                    </tr>
                    <tr ng-if="subject.empName">
                        <th width="50%">{{'EMPNAME'|translate}}</th>
                        <td>{{ subject.empName }}</td>
                    </tr>
                    <!--    <tr ng-if="subject.Email">
            <th width="50%">Email</th>
            <td>{{ subject.Email }}</td>
        </tr>--
                    <tr ng-if="subject.designation">
                        <th width="50%">{{'DESIGNATION'|translate}}</th>
                        <td>{{ subject.designation }}</td>
                    </tr>
                    <tr ng-if="subject.department">
                        <th width="50%">{{'DEPARTMENTNAME'|translate}}</th>
                        <td>{{ subject.department }}</td>
                    </tr>
                    <tr ng-if="subject.status">
                        <th width="50%">{{'STATUS'|translate}}</th>
                        <td>{{ subject.status | translate }}</td>
                    </tr>
                    <tr ng-if="subject.remarks">
                        <th width="50%">{{'REMARKS'|translate}}</th>
                        <td>{{ subject.remarks }}</td>
                    </tr>

                </table>

            </div> -->

            <!-- <div class="padding">
                <button ng-click="homepage()" class="button button-block  customBgColor">
                    <span translate="HOMEPAGE"></span></button>
            </div> -->

        </form>

    </ion-content>
</ion-view>